---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import Onled from "./onled.astro";
import { Picture } from "@astrojs/image/components";
import OnledLogo from "~/assets/onled.png"
const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---
<!-- 
<ContentSection title="High Bay 200lm/W" id="intro">
  <Onled fontSize={"5xl"}/>
  <Picture slot="eyebrow" 
    class="h-full w-full object-cover"
    src={OnledLogo}
    widths={widths}
    sizes={sizes}
    loading="eager"
    alt="A floating Lamps"/>
  <Fragment slot="lead">
    Nowoczesna lampa przemysłowa - <span class="text-primary"> Potęga oświetlenia dla Twojego biznesu </span>
    Oświetlenie, które nadaje Twojej firmie charakteru
  </Fragment>

--- -->

<ContentSection title="High Bay 200lm/W" id="intro">
  <!-- <Icon slot="eyebrow" name="logomark" class="h-32" /> -->
  <a slot="eyebrow" href="https://onled.pl/lampy-high-bay-led/1/default/1/f_at_23_842/1" target="_blank"> <Onled logo="xl"/> </a>
  <Fragment slot="lead">
    Zapoznaj się z potęgą lampy High Bay UFO 200 lm/W - 
    wyjątkowa jasność przy niezwykle efektywnym zużyciu energii. 
    Oświetl swoją przestrzeń i zwiększ efektywność dzięki tej niezawodnej lampie przemysłowej.
  </Fragment>
  <!-- <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Read the docs</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Try it out</span>
    </a>
  </div> -->
</ContentSection>
