---
    const { fontSize } = Astro.props;
---
<div class=`flex items-center font-onled text-${fontSize}`>
    <h1 class="bg-[#68b52e] p-px rounded-sm text-white leading-none">on</h1>
    <h1 class="">Ied.</h1>
    <h1 class="text-xs self-end">pl</h1>
</div>
