---
    let wrapp = ""
    let on = ""
    let pl = ""
    const { logo } = Astro.props;
    if(logo==="xl"){
        wrapp = "text-4xl"
        on="px-1 py-1 pb-3 rounded-md leading-6"
        pl = "text-base self-end"
    }
    else if(logo === "xs"){
        wrapp = "text-lg"
        on="pb-1 px-px rounded leading-4"
        pl = "text-xs"
    }
---
<div class=`flex items-baseline font-onled ${wrapp}`>
    <p class=`bg-[#68b52e] text-white ${on}`>on</p>
    <p class="">Ied.</p>
    <p class=`${pl}`>pl</p>
</div>
